.card {
    flex: 0 1 calc(20% - 24px);
    padding: 8px 16px;
    background: #c6cfc1fc;
    box-shadow: 0 0 10px 2px #ddd;
    border-radius: 8px;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 220px;
    margin: 12px;
    position: relative;
    font-size: 36px;
    transition: ease background-color 300ms;
}

.card:after {
    content: '';
    border: 1px solid #fff;
    border-radius: 8px;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    position: absolute;
    left: 11px;
    top: 11px;
}

.card:hover {
    background: #ddd;
    cursor: pointer;
}
.card.chosen {
    background: #199fd3;
    color: #fff;
}
.card.disabled {
    background: #ccc;
    cursor: not-allowed;
}